<panel [panelName]="panelName" [icon]="'&#xe0f6;'" >
  @if (active(); as object) {
    <div class="modifier-actions">
      <button class="chrome-button modifier-action-button" [cdkMenuTriggerFor]="menu">
        <i class="icon">&#xe0e6;</i>
        Add modifier
      </button>
      <ng-template #menu>
        <div class="modifier-list-menu menu-panel-content" cdkMenu>
          <button cdkMenuItem (click)="add('array')">Array</button>
          <button cdkMenuItem (click)="add('mirror')">Mirror</button>
          <button cdkMenuItem (click)="add('bevel')">Bevel</button>
          <button cdkMenuItem (click)="add('round')">Round</button>
          <button cdkMenuItem (click)="add('boolean')">Boolean</button>
        </div>
      </ng-template>
      
    </div>
    @if (modifiers().length === 0) {
      <p>No modifiers yet.</p>
    } @else {
      <ul class="modifier-list" cdkDropList (cdkDropListDropped)="reorder($event)">
        @for (modifier of modifiers(); track modifier.id) {
          <li cdkDrag>
            <app-modifier-row [objectId]="object.id" [modifier]="modifier" [objects]="objects()" />
          </li>
        }
      </ul>
      <button type="button" class="chrome-button" (click)="applyAll()">Apply all</button>
      @if (diagnostics().length > 0) {
        <ul class="diagnostics">
          @for (line of diagnostics(); track $index) {
            <li>{{ line }}</li>
          }
        </ul>
      }
    }
  } @else {
    <p>Select an object.</p>
  }
</panel>
