<svg class="preview" aria-hidden="true" [attr.viewBox]="viewBox()" [style.aspect-ratio]="ratio()">
  <defs>
    @for (gradient of gradients(); track gradient.id) {
      @if (gradient.type === 'linear') {
        <linearGradient
          [attr.id]="gradient.id"
          gradientUnits="objectBoundingBox"
          [attr.gradientTransform]="gradientTransform(gradient)"
        >
          @for (stop of gradient.stops; track stop.id) {
            <stop
              [attr.offset]="stop.offset"
              [attr.stop-color]="stop.color"
              [attr.stop-opacity]="stop.opacity"
            />
          }
        </linearGradient>
      } @else {
        <radialGradient
          [attr.id]="gradient.id"
          gradientUnits="objectBoundingBox"
          [attr.gradientTransform]="gradientTransform(gradient)"
        >
          @for (stop of gradient.stops; track stop.id) {
            <stop
              [attr.offset]="stop.offset"
              [attr.stop-color]="stop.color"
              [attr.stop-opacity]="stop.opacity"
            />
          }
        </radialGradient>
      }
    }
  </defs>
  @for (object of objects(); track object.id) {
    <g [attr.transform]="object.transform">
      @if (object.kind === 'image') {
        @if (object.tracePaths.length > 0) {
          @for (path of object.tracePaths; track $index) {
            @if (object.traceOutlines) {
              <path
                [attr.d]="path.d"
                fill="none"
                [attr.stroke]="path.fill"
                stroke-width="1"
                vector-effect="non-scaling-stroke"
                fill-rule="evenodd"
              />
            } @else {
              <path [attr.d]="path.d" [attr.fill]="path.fill" stroke="none" fill-rule="evenodd" />
            }
          }
        } @else if (object.href) {
          <image
            [attr.href]="object.href"
            x="0"
            y="0"
            [attr.width]="object.imageWidth"
            [attr.height]="object.imageHeight"
            [attr.preserveAspectRatio]="object.preserveAspectRatio"
          />
        } @else {
          <rect
            x="0"
            y="0"
            [attr.width]="object.imageWidth"
            [attr.height]="object.imageHeight"
            fill="none"
            stroke="#737373"
            stroke-dasharray="4 3"
          />
        }
      } @else if (object.strokeAlign === 'default') {
        <path
          [attr.d]="object.d"
          [attr.fill]="object.fill"
          [attr.stroke]="object.stroke"
          [attr.stroke-width]="object.strokeWidth"
          [attr.stroke-linecap]="object.strokeLinecap"
          [attr.stroke-linejoin]="object.strokeLinejoin"
          [attr.stroke-miterlimit]="object.strokeMiterlimit"
          [attr.stroke-opacity]="object.strokeOpacity"
          [attr.stroke-dasharray]="object.strokeDasharray"
          [attr.stroke-dashoffset]="object.strokeDashoffset"
          [attr.fill-rule]="object.fillRule"
        />
      } @else {
        @if (object.fill !== 'none') {
          <path
            [attr.d]="object.d"
            [attr.fill]="object.fill"
            stroke="none"
            [attr.fill-rule]="object.fillRule"
          />
        }
        @if (object.strokeAlign === 'inside') {
          <clipPath [attr.id]="object.clipId" clipPathUnits="userSpaceOnUse">
            <path [attr.d]="object.d" [attr.fill-rule]="object.fillRule" />
          </clipPath>
          <path
            [attr.d]="object.d"
            fill="none"
            [attr.stroke]="object.stroke"
            [attr.stroke-width]="object.strokeWidth * 2"
            [attr.stroke-linecap]="object.strokeLinecap"
            [attr.stroke-linejoin]="object.strokeLinejoin"
            [attr.stroke-miterlimit]="object.strokeMiterlimit"
            [attr.stroke-opacity]="object.strokeOpacity"
            [attr.stroke-dasharray]="object.strokeDasharray"
            [attr.stroke-dashoffset]="object.strokeDashoffset"
            [attr.clip-path]="'url(#' + object.clipId + ')'"
          />
        } @else if (object.maskRect; as maskRect) {
          <mask
            [attr.id]="object.maskId"
            maskUnits="userSpaceOnUse"
            maskContentUnits="userSpaceOnUse"
            [attr.x]="maskRect.x"
            [attr.y]="maskRect.y"
            [attr.width]="maskRect.width"
            [attr.height]="maskRect.height"
          >
            <rect
              [attr.x]="maskRect.x"
              [attr.y]="maskRect.y"
              [attr.width]="maskRect.width"
              [attr.height]="maskRect.height"
              fill="white"
            />
            <path [attr.d]="object.d" fill="black" [attr.fill-rule]="object.fillRule" />
          </mask>
          <path
            [attr.d]="object.d"
            fill="none"
            [attr.stroke]="object.stroke"
            [attr.stroke-width]="object.strokeWidth * 2"
            [attr.stroke-linecap]="object.strokeLinecap"
            [attr.stroke-linejoin]="object.strokeLinejoin"
            [attr.stroke-miterlimit]="object.strokeMiterlimit"
            [attr.stroke-opacity]="object.strokeOpacity"
            [attr.stroke-dasharray]="object.strokeDasharray"
            [attr.stroke-dashoffset]="object.strokeDashoffset"
            [attr.mask]="'url(#' + object.maskId + ')'"
          />
        }
      }
    </g>
  }
</svg>
