<svg class="preview" aria-hidden="true" [attr.viewBox]="viewBox()" [style.aspect-ratio]="ratio()">
  <defs>
    @for (gradient of gradients(); track gradient.id) {
      @if (gradient.type === 'linear') {
        <linearGradient
          [attr.id]="gradient.id"
          gradientUnits="objectBoundingBox"
          [attr.gradientTransform]="gradientTransform(gradient)"
        >
          @for (stop of gradient.stops; track stop.id) {
            <stop
              [attr.offset]="stop.offset"
              [attr.stop-color]="stop.color"
              [attr.stop-opacity]="stop.opacity"
            />
          }
        </linearGradient>
      } @else {
        <radialGradient
          [attr.id]="gradient.id"
          gradientUnits="objectBoundingBox"
          [attr.gradientTransform]="gradientTransform(gradient)"
        >
          @for (stop of gradient.stops; track stop.id) {
            <stop
              [attr.offset]="stop.offset"
              [attr.stop-color]="stop.color"
              [attr.stop-opacity]="stop.opacity"
            />
          }
        </radialGradient>
      }
    }
  </defs>
  @for (object of objects(); track object.id) {
    <g [attr.transform]="object.transform">
      <path
        [attr.d]="object.d"
        [attr.fill]="object.fill"
        [attr.stroke]="object.stroke"
        [attr.stroke-width]="object.strokeWidth"
        [attr.stroke-linecap]="object.strokeLinecap"
        [attr.stroke-linejoin]="object.strokeLinejoin"
        [attr.stroke-miterlimit]="object.strokeMiterlimit"
        [attr.stroke-opacity]="object.strokeOpacity"
        [attr.stroke-dasharray]="object.strokeDasharray"
        [attr.stroke-dashoffset]="object.strokeDashoffset"
        [attr.fill-rule]="object.fillRule"
      />
    </g>
  }
</svg>
